<div id="about">
  <h1>About Succulents</h1>
  <p>
  <em>All cacti are succulents, but not all succulents are cacti.</em>
  <br>
  <br>
  Remember this when you gain consciousness and your arms and legs are no longer dreams, but now thick fleshy pods.
  Your story starts a long time ago when the arid lands of the world decided they too needed beauty. But lowland flowers
  and mountain conifers despised the long sun so the arid lands created succulents to thrive and prosper among its vast lands.
  <br>
  <br>

  </p>
</div>
