<section class="show-container container-fluid">
  <h1>{{vm.activeSucculent.name}}</h1>
    <div class="row">
      <div class="text-container col-md-6">
        <p>{{vm.activeSucculent.name}} is a quirky and {{vm.activeSucculent.special}} succulent.
        <br>
        <br>
        Its {{vm.activeSucculent.quirk}} makes it beloved by master gardeners and prized
        by amateurs. {{vm.activeSucculent.name}} loves to be placed in a mix of potting soil
        and gritty sand inside a clay pot with drainage and watered about every few weeks.
        When {{vm.activeSucculent.name}} gains sentience it will {{vm.activeSucculent.alive}}.
        <br>
        <br>
        Please purchase one <a href="http://www.sunsetblvdnursery.com/">here</a>.
        </p>
      </div>
      <div class="image-container col-md-6">
        <div class="inner">
          <img src="{{vm.activeSucculent.imageUrl}}">
        </div>
      </div>
    </div>
</section>

